#carrousel-container {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: aliceblue;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 50px;
}

#card-container {
  display: flex;
  padding: 8rem 3rem;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7rem;
  margin-right: 4rem;
  border: 2px solid black;
  border-radius: 15px;
}

.card h3 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.card p {
  padding-bottom: 1rem;
  font-size: 1.125rem;
}

.card a {
  font-size: 1.125rem;
}

.card a::after {
  content: " >";
}

button:hover {
  cursor: pointer;
}

#left,
#right {
  position: relative;
  z-index: 1;
  display: inline;
  font-size: 3rem;
}

#left {
  left: 20%;
  top: 30px;
}

#right {
  right: 20%;
  top: 30px;
}

#right:active {
  transform: translateX(20px);
  transition: transform 0.2s ease-out;
}

#left:active {
  transform: translateX(-20px);
  transition: transform 0.2s ease-out;
}
